librosa==0.8.1
Keras-Preprocessing==1.1.2
SoundFile==0.10.3.post1
matplotlib
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io==0.23.1
tensorflow-io-gcs-filesystem==0.23.1
numpy
streamlit==1.4.0


